@model Clothes.Models.BestSellersVM

<!--seller-->
<div class="product-bottom">
    <h3 class="cate">Top sales</h3>
    @foreach (var bestseller in Model.Products)
    {
        <div class="product-go">
            <div class="fashion-grid">
                <a href="@Url.Action("Single", new { bestseller.Id })"><img class="img-responsive " src="~/Content/images/@bestseller.Image" alt="@bestseller.Name"></a>
            </div>
            <div class="fashion-grid1">
                <h6 class="best2"><a href="@Url.Action("Single", new { bestseller.Id })">@bestseller.Name</a></h6>
                <span class=" price-in1">$@bestseller.Price</span>
            </div>
            <div class="clearfix"> </div>
        </div>
    }
</div>